<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Review</title>
        <link rel="stylesheet" href="../../styles/main.css">
        <link rel="stylesheet" href="../../styles/font-awesome-4.7.0/css/font-awesome.min.css">
        <script src="../../scripts/jquery-3.2.1.js" charset="utf-8"></script>
    </head>

    <body>
        <div class="new-review">
            <div class="grid">
                <div class="left-col">
                    <div class="image"></div>
                    <img class="cover round square" src="../../imgs/zoro.png" alt="user-picture">
                </div>
                <div class="right-col">
                    <div class="transport-choice">
                        <span class="label">Choose transport:</span>
                        <select id="choose-user-transport">
                            <option value="-1">...</option>
                        </select>
                    </div>
                    <div class="rating-choice">
                        <span class="label">Rate it:</span>
                        <div class="rating">
                            <div class="star-rating">
                                <label class="fa fa-star" aria-hidden="true"></label>
                                <label class="fa fa-star" aria-hidden="true"></label>
                                <label class="fa fa-star" aria-hidden="true"></label>
                                <label class="fa fa-star" aria-hidden="true"></label>
                                <label class="fa fa-star" aria-hidden="true"></label>
                            </div>
                        </div>
                    </div>
                    <div class="message">
                        <textarea id="message" placeholder="Write your review here..."></textarea>
                    </div>
                    <div class="add">
                        <input class="cancel" type="submit" id="cancel-button" value="Cancel">
                        <input type="submit" id="add-button" value="Add review">
                    </div>
                </div>
            </div>
        </div>
        <script src="../../scripts/image.js" charset="utf-8"></script>
        <script src="../../scripts/new-review.js" charset="utf-8"></script>
    </body>

</html>
