<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Footer</title>
    </head>
    <body>
        <footer>
            <div class="content">
                <ul>
                    <li>
                        Copyrights &copy; 2017 Airbnb Transport
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href=""> <i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-google fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>