<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign in</title>
        <link rel="icon" href="../../imgs/icon.png">
        <link rel="stylesheet" href="../../styles/main.css">
    </head>
    <body>
        <div class="signin-form">
            <form action="">
                <div class="signin-creds">
                    <input type="email" name="email" placeholder="Your Email" required><br>
                    <input type="password" name="password" placeholder="Your Password" required><br>
                </div>
                <div class="rememberme-forgotpasswd">
                    <div class="rememberme">
                        <input type="checkbox" name="remember"> Remember me
                    </div>
                    <div class="forgotpasswd">
                        <a class="colored-link" href="password_recovery.html">Forgot your password?</a>
                    </div>
                </div>
                <div class="signin-btn">
                    <input type="submit" name="signin-btn" value="Sign in">
                </div>
            </form>
            <hr>
            <div class="no-account">
                <div class="left">
                    Don't have an account?
                </div>
                <a class="go-signup" href="signup.html">Sign up</a>
            </div>
        </div>
    </body>
</html>