<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title>
        <link rel="icon" href="../imgs/icon.png">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <div class="signup-form">
            <div class="close-block">
                <a href="#" class="close signup"></a>
            </div>
            <form action="">
                <div class="signup-creds">
                    <input type="email" id="email" placeholder="Your Email" required><br>
                    <input type="tel" id="phone" placeholder="Your Phone Number" required><br>
                    <input type="text" id="name" placeholder="Your First Name" required><br>
                    <input type="text" id="surname" placeholder="Your Last Name" required><br>
                    <input type="password" id="password" placeholder="Password" required><br>
                    <input type="password" id="confirm" placeholder="Confirm password" required>
                </div>
                <div class="birthday">
                    <p>Your Birthday</p>
                    <select name="birthday" id="month">
                        <option value="default">Month</option>
                        <option value="jan">January</option>
                        <option value="feb">February</option>
                        <option value="march">March</option>
                        <option value="april">April</option>
                        <option value="may">May</option>
                        <option value="june">June</option>
                        <option value="july">July</option>
                        <option value="aug">August</option>
                        <option value="sept">September</option>
                        <option value="oct">October</option>
                        <option value="nov">November</option>
                        <option value="dec">December</option>
                    </select>
                    <select name="birthday" id="day" required>
                        <option value="default">Day</option>
                    </select>
                    <select name="birthday" id="year" required>
                        <option value="default">Year</option>=
                    </select>
                </div>
                <div class="checkboxes">
                    <p>
                        <input type="checkbox" id="terms-of-use"> I agree to the
                        <a class="colored-link" href="terms.html">Terms of Use</a> .
                    </p>
                    <p>
                        <input type="checkbox" id="spam"> I wanna get a bunch of spam from Sharing Wheels everyday!
                    </p>
                </div>
                <div class="signup-btn">
                    <input type="submit" name="signup-btn" value="Sign up">
                </div>
                <hr>
                <div class="account-exists">
                    <div class="left">
                        Already have an account?
                    </div>
                    <a class="go-signin" href="signin.html">Sign in</a>
                </div>
            </form>
        </div>
    </body>
</html>