        <!-- Password Recovery Popup -->
        <div class="popup passwd-recovery">
            <div class="close-block">
                <a href="" class="close passwd"></a> <!-- Make fucking decorator -->
            </div>
            <div class="hdr">
                <h3>Password Recovery</h3>
            </div>
            <div class="msg">
                <p>Enter the email address associated with your account, and we’ll email you a link to reset your password.</p>
            </div>
            <form action="/reset" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="email-input" required>
                    <input type="email" name="user_email" id="recovery_email" placeholder="Your Email" required>
                </div>
                <input class="clickable" type="submit" value="Send Reset Link">
            </form>
        </div>
