        <!-- POPUP sign in form -->
        <div class="popup signin-form">
            <div class="close-block">
                <a href="" class="close signin"></a> <!-- Make fucking decorator -->
            </div>
            <form id="login-form" action="/login" method="post">
                <div class="signin-creds">
                    <input type="email" name="email" placeholder="Your Email" required><br>
                    <input type="password" name="password" placeholder="Your Password" required><br>
                </div>
                <div class="wrong-creds" hidden="hidden">
                    <div class="error-msg"></div>
                </div>
                <div class="rememberme-forgotpasswd">
                    <div class="rememberme">
                        <input type="checkbox" name="remember"> Remember me
                    </div>
                    <div class="forgotpasswd">
                        <a class="colored-link" href="" id="forgotpasswd">Forgot your password?</a> <!-- Make fucking decorator -->
                    </div>
                </div>
                <div class="signin-btn">
                    <input class="clickable" type="submit" name="signin-btn" value="Sign in">
                </div>
            </form>
            <hr>
            <div class="no-account">
                <div class="left">
                    Don't have an account?
                </div>
                <a id="go-signup" class="go-signup" href="">Sign up</a> <!-- Make fucking decorator -->
            </div>
        </div>
