<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../styles/main.css">
        <link rel="stylesheet" href="../../styles/font-awesome-4.7.0/css/font-awesome.min.css">
        <title>Transport Profile</title>
    </head>

    <body>
        <div class="transport-profile">
            <div class="bunch-of-photos">
                <img class="cover" src="../../imgs/cars/911.jpg" alt="911">
            </div>
            <div class="title">
                <div class="content">
                    <div class="name">
                        <div class="label">Porsche 911</div>
                        <div class="under-label">
                            <div class="short-info">Short description</div>
                            <div class="rating">
                                <div class="star-rating">
                                    <label class="fa fa-star" aria-hidden="true"></label>
                                    <label class="fa fa-star" aria-hidden="true"></label>
                                    <label class="fa fa-star" aria-hidden="true"></label>
                                    <label class="fa fa-star" aria-hidden="true"></label>
                                    <label class="fa fa-star" aria-hidden="true"></label>
                                </div>
                                <div class="reviews-count">
                                    # reviews
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owner">
                        <a href="#">
                            <div class="photo">
                                <img class="cover round" src="../../imgs/luffy.png" alt="User Photo is here">
                            </div>
                            <div class="user-name">User</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="content">
                    <div class="description">
                        <div class="col-1-2">
                            <div class="row">
                                <span class="label">Brand:</span>
                            </div>
                            <div class="row">
                                <span class="label">Model:</span>
                            </div>
                            <div class="row">
                                <span class="label">Year of Manufacture:</span>
                            </div>
                            <div class="row">
                                <span class="label">Haulage (usage):</span>
                            </div>
                            <div class="row">
                                <span class="label">Body Type:</span>
                            </div>
                            <div class="row">
                                <span class="label">Number of Seats:</span>
                            </div>
                            <div class="row">
                                <span class="label">Colour:</span>
                            </div>
                        </div>
                        <div class="col-1-2">
                            <div class="row">
                                <span class="label">Gearbox:</span>
                            </div>
                            <div class="row">
                                <span class="label">Engine:</span>
                            </div>
                            <div class="row">
                                <span class="label">Drivegear:</span>
                            </div>
                            <div class="row">
                                <span class="label">Wheel:</span>
                            </div>
                            <div class="row">
                                <span class="label">State:</span>
                            </div>
                            <div class="row">
                                <span class="label">Horsepower:</span>
                            </div>
                            <div class="row">
                                <span class="label">Engine Capacity:</span>
                            </div>
                        </div>
                    </div>
                    <div class="address-block">
                        <address class="">
                            <span class="label">Address:</span>
                            Porscheplatz 1 70435 Stuttgart-Zuffenhausen
                        </address>
                    </div>
                    <div class="owner-notation">
                        Porsche 911 (нем. Neunelfer) — спортивный автомобиль производства немецкой компании Porsche AG в кузове двухдверное купе или кабриолет на его основе, в разных поколениях производящегося с 1964 года по наши дни.
                    </div>
                    <div class="request-form">
                        <div class="panel-container">
                            <div class="panel-head">
                                <span class="number">666$</span> per day
                            </div>
                            <div class="panel-line">
                                <div class="contacts">
                                    <div class="row">
                                        <span class="label">Email:</span>
                                    </div>
                                    <div class="row">
                                        <span class="label">Phone:</span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-line">
                                <div class="message">
                                    <form class="" action="#" method="post">
                                        <div class="label">
                                            Write a message to the owner:
                                        </div>
                                        <textarea placeholder="Enter a message or leave it empty"></textarea>
                                        <div class="request_btn">
                                            <input type="submit" value="Send request">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
