<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Review</title>
        <link rel="stylesheet" href="../../styles/main.css">
        <link rel="stylesheet" href="../../styles/font-awesome-4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="review template white-back cool-shadow">
            <div class="grid">
                <div class="left-col">
                    <div class="image">
                        <img class="cover round" src="../../imgs/zoro.png" alt="Luffy">
                    </div>
                    <div class="user-name">
                        Zoro
                    </div>
                </div>
                <div class="right-col">
                    <div class="top">
                        <div class="transport">Porsche 911</div>
                        <div class="rating">
                            <div class="star-rating">
                                <label class="fa fa-star" aria-hidden="true"></label>
                                <label class="fa fa-star" aria-hidden="true"></label>
                                <label class="fa fa-star" aria-hidden="true"></label>
                                <label class="fa fa-star" aria-hidden="true"></label>
                                <label class="fa fa-star" aria-hidden="true"></label>
                            </div>
                        </div>
                    </div>
                    <div class="message">Nice car mate! Love it!</div>
                    <div class="bottom">
                        <span class="label">Posted:</span>
                        <span class="post-time">14:24 27.05.2017</span>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
