<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title>Sharing Wheels - {{title}}</title>
        {% else %}
        <title>Sharing Wheels</title>
        {% endif %}
        <link rel="icon" href="{{ url_for('static', filename='imgs/icon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <script src="{{ url_for('static', filename='scripts/jquery-3.2.1.js') }}"></script>
    </head>

    <body>
        <!-- Header -->
        <header>
            <div class="content">
                <ul>
                    <li>
                        <a class="logo" href="{{ url_for('index') }}" id="home">
                                <img src="{{ url_for('static', filename='imgs/white-car.svg') }}" height="36">
                            </a>
                    </li>
                    <span class="nav-search-block" hidden="hidden">
                        <li>
                            <div class="nav-search">
                                <form action="/search" method="get">
                                    <input type="search" placeholder="Search for some wheels">
                                    <input type="submit" name="search-btn">
                                </form>
                            </div>
                        </li>
                        <li>
                            <div class="go-detailed">
                                <a id="go-detailed-btn" class="link-as-text cool-hover">Go detailed search</a>
                            </div>
                        </li>
                    </span>
                </ul>
                <ul class="right">
                    <li>
                        <a href="{{ url_for('help') }}" id="help">Help</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('logout') }}" id="sign-out">Sign out</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="#" id="sign-up">Sign up</a>
                        </li>
                        <li>
                            <a href="#" id="sign-in">Sign in</a>
                        </li>
                    {% endif %}
                    <!-- <li>
                        <a href="pages/user/user_main_page.html" id="user-page">User</a>
                    </li> -->
                </ul>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <!-- Footer -->
        <footer>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="content">
                <ul>
                    <li>
                        Copyright &copy; <span id="current-year"></span> Sharing Wheels All Rights Reserved.
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href=""> <i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                        <a href=""> <i class="fa fa-google fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
        <!-- POPUP sign in form -->
        <div class="popup signin-form">
            <div class="close-block">
                <a href="" class="close signin"></a> <!-- Make fucking decorator -->
            </div>
            <form action="/login" method="post">
                <div class="signin-creds">
                    <input type="email" name="email" placeholder="Your Email" required><br>
                    <input type="password" name="password" placeholder="Your Password" required><br>
                </div>
                <div class="rememberme-forgotpasswd">
                    <div class="rememberme">
                        <input type="checkbox" name="remember"> Remember me
                    </div>
                    <div class="forgotpasswd">
                        <a class="colored-link" href="pages/templates/password_recovery.html" id="forgotpasswd">Forgot your password?</a> <!-- Make fucking decorator -->
                    </div>
                </div>
                <div class="signin-btn">
                    <input type="submit" name="signin-btn" value="Sign in">
                </div>
            </form>
            <hr>
            <div class="no-account">
                <div class="left">
                    Don't have an account?
                </div>
                <a id="go-signup" class="go-signup" href="">Sign up</a> <!-- Make fucking decorator -->
            </div>
        </div>
        <!-- Password Recovery Popup -->
        <div class="popup passwd-recovery">
            <div class="close-block">
                <a href="" class="close passwd"></a> <!-- Make fucking decorator -->
            </div>
            <div class="hdr">
                <h3>Password Recovery</h3>
            </div>
            <div class="msg">
                <p>Enter the email address associated with your account, and we’ll email you a link to reset your password.</p>
            </div>
            <form action="">
                <div class="email-input" required>
                    <input type="email" id="recovery_email" placeholder="Your Email" required>
                </div>
                <input type="submit" value="Send Reset Link">
            </form>
        </div>
        <!-- POPUP sign up form -->
        <div class="popup signup-form">
            <div class="close-block">
                <a href="" class="close signup"></a> <!-- Make fucking decorator -->
            </div>
            <form id="signup-form" action="/sign_up" method="post">
                <div class="signup-creds">
                    <input type="email" name="email" id="email" placeholder="Your Email" required><br>
                    <input type="tel" name="phone" id="phone" placeholder="Your Phone Number (format: xxx-xxx-xxxx)" pattern="^\d{3}-\d{3}-\d{4}$" required><br>
                    <input type="text" name="name" id="name" placeholder="Your First Name" required><br>
                    <input type="text" name="surname" id="surname" placeholder="Your Last Name" required><br>
                    <input type="password" name="password" id="password" placeholder="Password" required><br>
                    <input type="password" id="confirm_password" placeholder="Confirm password" required>
                </div>
                <div class="no_match">
                    <span id="no_match_msg" hidden="hidden">Passwords don't match!</span>
                </div>
                <div class="birthday">
                    <p>Your Birthday</p>
                    <select name="bd_month" id="month" required>
                            <option value="">Month</option>
                            <option value="0">January</option>
                            <option value="1">February</option>
                            <option value="2">March</option>
                            <option value="3">April</option>
                            <option value="4">May</option>
                            <option value="5">June</option>
                            <option value="6">July</option>
                            <option value="7">August</option>
                            <option value="8">September</option>
                            <option value="9">October</option>
                            <option value="10">November</option>
                            <option value="11">December</option>
                        </select>
                    <select name="bd_day" id="day" required>
                            <option value="">Day</option>
                        </select>
                    <select name="bd_year" id="year" required>
                            <option value="">Year</option>=
                        </select>
                </div>
                <div class="birthday_error">
                    <span id="birthday_error_msg" hidden="hidden">Wrong birthday date!</span>
                </div>
                <div class="checkboxes">
                    <p>
                        <input type="checkbox" id="terms-of-use"> I agree to the
                        <a class="colored-link" href="{{ url_for('terms_of_use') }}">Terms of Use</a>.
                    </p>
                    <p>
                        <input type="checkbox" id="spam"> I wanna get a bunch of spam from Sharing Wheels everyday!
                    </p>
                </div>
                <div class="signup-btn">
                    <input type="submit" id="signup-btn" value="Sign up">
                </div>
                <hr>
                <div class="account-exists">
                    <div class="left">
                        Already have an account?
                    </div>
                    <a class="go-signin" id="go-signin" href="">Sign in</a> <!-- Make fucking decorator -->
                </div>
            </form>
        </div>
        <!-- Dark screen overlay -->
        <div class="dark-screen"></div>
        <!-- Scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/common.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/signup.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/popups.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/birthday.js') }}"></script>
    </body>

</html>
