{% extends "base.html" %}

{% block content %}
<div class="new-password-block">
    <div class="box white-back cool-shadow">
        <div class="title">
            Sharing <span class="transport">Wheels</span>
        </div>
        <div class="circled-sign">
            <label class="fa fa-unlock-alt fa-3x" aria-hidden="true"></label>
        </div>
        <form action="/" method="post">
            <input id="new-password" type="password" name="password" placeholder="Enter New Password" required><br>
            <input id="new-confirm" type="password" name="confirm" placeholder="Confirm Your Password" required><br>
            <div class="no_match error-msg" hidden="hidden">
                Passwords don't match!
            </div>
            <div class="submit">
                <input class="clickable" type="submit" value="Confirm new password">
            </div>
        </form>
    </div>
</div>
{% endblock %}
