<!-- Vehicle thumbnail template -->
<div class="thumbnail template" hidden="hidden">
    <a class="link-as-text" href="">
        <div class="image">
            <img class="cover cool-shadow" src="" alt="Transport image">
        </div>
        <div class="label">Price Name</div>
        <div class="short-info">Short description</div>
        <div class="rating">
            <div class="star-rating">
                <label class="fa fa-star-o" aria-hidden="true"></label>
                <label class="fa fa-star-o" aria-hidden="true"></label>
                <label class="fa fa-star-o" aria-hidden="true"></label>
                <label class="fa fa-star-o" aria-hidden="true"></label>
                <label class="fa fa-star-o" aria-hidden="true"></label>
            </div>
            <div class="reviews-count">
                <span class="number">#</span> reviews
            </div>
        </div>
    </a>
</div>
