<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<!-- Main part -->
 <div class="main-content">
     <div class="container">
         <div class="title">
             <section class="name">
                 Sharing <span class="transport">Wheels</span>
             </section>
             <section class="tagline">
                 Share your transport with everyone
             </section>
         </div>
         <section class="picture">
             <img class="cover cool-shadow" src="{{ url_for('static', filename='imgs/wtf.png') }}" alt="car sharing picture">
         </section>
         <section class="search">
             <form action="">
                 <input class="cool-shadow" type="search" name="search" placeholder="Search for a transport type, brand, model, etc.">
                 <input type="submit" name="search-btn">
             </form>
         </section>
         <section class="random-content">
             <div class="grid">
                 <div class="row">
                     <div class="col-1-3">
                         <div class="thumbnail">
                             <div class="image">
                                 <img class="cover cool-shadow" src="{{ url_for('static', filename='imgs/cars/911.jpg') }}" alt="Transport image"> <!-- Make cars database -->
                             </div>
                             <div class="label">Price Name</div>
                             <div class="short-info">Short description</div>
                             <div class="rating">
                                 <div class="star-rating">
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                 </div>
                                 <div class="reviews-count">
                                     # reviews
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-1-3">
                         <div class="thumbnail">
                             <div class="image">
                                 <img class="cover cool-shadow" src="{{ url_for('static', filename='imgs/cars/mustang.jpg') }}" alt="Transport image"> <!-- Make cars database -->
                             </div>
                             <div class="label">Price Name</div>
                             <div class="short-info">Short description</div>
                             <div class="rating">
                                 <div class="star-rating">
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                 </div>
                                 <div class="reviews-count">
                                     # reviews
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-1-3">
                         <div class="thumbnail">
                             <div class="image">
                                 <img class="cover cool-shadow" src="{{ url_for('static', filename='imgs/cars/camaro.jpg') }}" alt="Transport image"> <!-- Make cars database -->
                             </div>
                             <div class="label">Price Name</div>
                             <div class="short-info">Short description</div>
                             <div class="rating">
                                 <div class="star-rating">
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                     <label class="fa fa-star" aria-hidden="true"></label>
                                 </div>
                                 <div class="reviews-count">
                                     # reviews
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </section>
     </div>
 </div>
{% endblock %}