    <div class="user-page-container">
        <div class="new-transport-form">
            <form action="/create_transport" method="post">
                <div class="panel-container">
                    <div class="panel-head">Required</div>
                    <div class="panel-line">
                        <div class="form-row">
                            <label for="transport-type">Transport Type</label>
                            <div class="elem">
                                <select id="transport-type" required>
                                    <option value="">...</option>
                                    <option value="0">Vehicle</option>
                                    <option value="1">Motorcycle</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="transport-brand">Brand</label>
                            <div class="elem">
                                <select id="transport-brand" required>
                                    <option value="">...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="transport-model">Model</label>
                            <div class="elem">
                                <select id="transport-model" required>
                                    <option value="">...</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="year-of-manufacture">Year of Manufacture</label>
                            <div class="elem">
                                <select id="year-of-manufacture" required>
                                    <option value="before-1960">Before 1960</option>
                                    <!-- And more -->
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="rental-price">Rental Price (a day)</label>
                            <div class="elem">
                                <input type="text" id="rental-price" maxlength="5" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="description">Description</label>
                            <div class="elem">
                                <textarea id="description" maxlength="256" placeholder="Tell us about your transport in 256 symbols" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="panel-line">
                        <div class="form-row">
                            <label class="photo" for="photo">Photo</label>
                            <div class="elem">
                                <input type="file" accept="image/*" class="custom-file-input" id="transport-photo" capture="camera" required>
                            </div>
                        </div>
                        <div class="no-photo" hidden="hidden">
                           <span class="error-msg">You must load a photo!</span>
                        </div>
                        <div class="save-transport-btn">
                            <input type="submit" id="new-transport-btn" value="Save">
                        </div>
                    </div>

                </div>
                <!-- <div class="panel-container">
                    <div class="panel-head">Additional</div>
                    <div class="panel-line">
                        <div class="form-row">
                            <label for="">Additional #1</label>
                            <div class="elem">
                                <input type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="">Additional #2</label>
                            <div class="elem">
                                <input type="text">
                            </div>
                        </div>
                        <div class="form-row">
                            <label for="">Additional #3</label>
                            <div class="elem">
                                <input type="text">
                            </div>
                        </div>
                        <div class="save-transport-btn">
                            <input type="submit" id="new-transport-btn" value="Save">
                        </div>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
