<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <body>
        <div class="user-page">
            <div class="grid">
                <div class="left-col">  <!-- action="/user_page" method="post" -->
                    <div class="content">
                        <ul id="left-col-list">
                            <li><a name="settings" class="inside">Profile Settings</a></li>
                            <li><a name="photo" class="inside">Profile Photo</a></li>
                            <li><a name="transport" class="inside">My Transport</a></li>
                            <li><a name="add_transport" class="inside">Add a New Transport</a></li>
                            <li><a name="reviews" class="inside">Reviews</a></li>
                            <li>
                                <a href="pages/user/user_profile_page.html" class="outside custom-file-input"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-col">
                    <div class="content">
                        <div class="container">
                            {% include page %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}