<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <body>
        <div class="user-page">
            <div class="grid">
                <div class="left-col">
                    <div class="content">
                        <ul id="left-col-list">
                            <li><a id="settings-link" href="{{ url_for('user', nickname=nick, page='settings') }}"class="inside">Profile Settings</a></li>
                            <li><a id="photo-link" href="{{ url_for('user', nickname=nick, page='photo') }}" class="inside">Profile Photo</a></li>
                            <li><a id="transport-link" href="{{ url_for('user', nickname=nick, page='transport') }}" class="inside">My Transport</a></li>
                            <li><a id="add_transport-link" href="{{ url_for('user', nickname=nick, page='add_transport') }}" class="inside">Add a New Transport</a></li>
                            <li><a id="reviews-link" href="{{ url_for('user', nickname=nick, page='reviews') }}" class="inside">Reviews</a></li>
                            <li><a href="{{ url_for('user_profile') }}" class="outside custom-file-input"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="right-col">
                    <div class="content">
                        <div class="container">
                            {% include page_new %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/userpage.js') }}"></script>
    </body>
{% endblock %}
