<li>
    <div class="new-review white-back cool-shadow">
        <div class="grid">
            <div class="left-col">
                <div class="image"></div>
                <img class="cover round square" src="{{ url_for('upload_user_avatar', uid=current_user.id, filename=current_user.avatar) }}" alt="user-picture">
            </div>
            <div class="right-col">
            <!-- Add post request for database updating -->
                <form class="" action="/add_review" method="post">
                    <div class="transport-choice">
                        <span class="label">Choose transport:</span>
                        <select name="choose_transport" id="choose-user-transport">
                            <option value="">...</option>
                            {% for i in range(vehicles|length) %}
                                <option value="{{ vehicles[i][0] }}">{{ vehicles[i][1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="rating-choice">
                        <span class="label">Rate it:</span>
                        <div class="rating">
                            <div class="star-rating">
                                <div class="star-rating__wrap">
                                    <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                    <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                    <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                    <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                    <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                    <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="message">
                        <textarea name="text_review" id="message" placeholder="Write your review here..."></textarea>
                    </div>
                    <div class="add">
                        <input class="cancel" type="submit" id="cancel-button" value="Cancel">
                        <input type="submit" id="add-button" value="Add review">
                    </div>
                </form>
            </div>
        </div>
    </div>
</li>