    <div class="user-page-container">
        <div class="user-photo-container">
            <div class="panel-container">
                <div class="panel-head">Your account photo</div>
                <div class="panel-line">
                    <div class="photo-upload-block">
                        <div class="image">
                            <img class="cover round" src="{{ url_for('static', filename='imgs/admin.png') }}">
                        </div>
                        <form class="upload-form" action="#" method="post">
                            <div class="upload-btn">
                                <input type="file" accept="image/*" class="custom-file-input" id="upload-photo" capture="camera">
                            </div>
                            <div class="save-btn">
                                <input type="submit" id="upload-photo-btn" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>