    <div class="user-page-container">
        <div class="user-photo-container">
            <div class="panel-container">
                <div class="panel-head">Your account photo</div>
                <div class="panel-line">
                    <div class="photo-upload-block">
                        <div class="image">
                        {% if not current_user.avatar %}
                            <img class="cover round" src="{{ url_for('upload_user_avatar', filename='default.jpg') }}">
                        {% else %}
                            <img class="cover round" src="{{ url_for('upload_user_avatar', filename=current_user.avatar) }}">
                        {% endif %}
                        </div>
                        <form class="upload-form" action="/upload_avatar" method="post" enctype="multipart/form-data">
                            <div class="upload-btn">
                                <input type="file" name="avatar" accept="image/*" class="custom-file-input" id="upload-photo" capture="camera" required>
                            </div>
                            <div class="no-photo" hidden="hidden">
                        	   <span class="error-msg">You must load a photo!</span>
                        	</div>
                            <div class="save-btn">
                                <input type="submit" id="upload-photo-btn" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
