<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<div class="profile-page">
		<div class="grid">
			<div class="left-col">
				<div class="image">
					<img class="cover square" src="{{ url_for('upload_user_avatar', uid=user.id, filename=user.avatar) }}" alt="User Avatar">
				</div>
				<div class="transport-info">
					<div class="panel-container">
						<div class="panel-head">
							My Transport
						</div>
						{% for i in range(vehicles|length) %}
                        <div class="panel-line">
							<div class="row">
								<a href="{{ url_for('vehicle_profile', vid=vehicles[i][0]) }}">{{ vehicles[i][1] }}</a>
							</div>
						</div>
                        {% endfor %}
					</div>
					<div class="arrow-block" hidden="hidden">
						<div class="arrow-btn white-back cool-shadow clickable">
							<div class="arrow-up" hidden="hidden">
								<span class="fa fa-arrow-circle-o-up fa-2x" aria-hidden="true"></span>
							</div>
							<div class="arrow-down" hidden="hidden">
								<span class="fa fa-arrow-circle-o-down fa-2x" aria-hidden="true"></span>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="right-col">
				<div class="title">
					Hello, my name is {{ user.name }}!
				</div>
				<div class="row">
					<div class="since">
						Joined in <span id="#since">{{ user.reg_date.strftime("%B %Y") }}</span>
					</div>
				</div>
				<div class="row split">
					<div class="rating">
						<div class="star-rating">
							{% for i in range(rating) %}
								<label class="fa fa-star" aria-hidden="true"></label>
							{% endfor %}
							{% for i in range(5 - rating) %}
								<label class="fa fa-star-o" aria-hidden="true"></label>
							{% endfor %}
						</div>
						<div class="reviews-count">
							{{ reviews }} reviews
						</div>
					</div>
				</div>
				<div class="row">
					<span class="label">Phone:</span> {{ user.phone }}
				</div>
				<div class="row split">
					<span class="label">Email:</span> {{ user.email }}
				</div>
				<div class="row split">
					<span class="label">About me: </span>За Печенкина и двор стреляю в упор!
				</div>
				<div class="row">
					<ul class="reviews-list">
						<!-- Don't show it if you came from 'Your Profile' -->
						{% if current_user.is_authenticated %}
							{% if current_user.id != user.id %}
								{% include "user/new_review.html" %}
							{% endif %}
						{% endif %}
						<!-- Maybe some template this shit? -->
						<li>
							<div class="review template white-back cool-shadow" hidden="hidden">
								<div class="grid">
									<div class="left-col">
										<div class="image">
											<img class="cover round square" src="{{ url_for('static', filename='imgs/sanji.png') }}" alt="Luffy">
										</div>
										<div class="user-name">Sanji</div>
									</div>
									<div class="right-col">
										<div class="top">
											<div class="transport">Porsche 911</div>
											<div class="rating">
												<div class="star-rating">
													<label class="fa fa-star-o" aria-hidden="true"></label>
													<label class="fa fa-star-o" aria-hidden="true"></label>
													<label class="fa fa-star-o" aria-hidden="true"></label>
													<label class="fa fa-star-o" aria-hidden="true"></label>
													<label class="fa fa-star-o" aria-hidden="true"></label>
												</div>
											</div>
										</div>
										<div class="message">Nice car mate! Love it!</div>
										<div class="bottom">
											<span class="label">Posted:</span>
											<span class="post-time">14:24 27.05.2017</span>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/image.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/userpage.js') }}"></script>
{% endblock %}
