	<div class="user-page-container">
		<div class="user-transport">
			<!-- It's a termplate for a your transport box -->
			<ul class="my-transport-list" data-mytransport="{{ mytransport }}"></ul>
			<div class="my-transport-template" hidden="hidden">
				<div class="panel-container">
					<div class="panel-head">Transport Name #1</div>
					<div class="panel-line">
						<div class="transport-preview grid">
							<div class="image col-1-3">
								<img class="cover round square clickable normal-img" src="" alt="Transport image is looking at you">
							</div>
							<div class="info col-2-3">
								<strong>Rating:</strong>
								<div class="row rating">
									<div class="star-rating">
										<label class="fa fa-star-o" aria-hidden="true"></label>
										<label class="fa fa-star-o" aria-hidden="true"></label>
										<label class="fa fa-star-o" aria-hidden="true"></label>
										<label class="fa fa-star-o" aria-hidden="true"></label>
										<label class="fa fa-star-o" aria-hidden="true"></label>
									</div>
									<div class="reviews-count">
										<span class="number">#</span> reviews
									</div>
								</div>
								<div class="row">
									<strong>Description:</strong>
								</div>
								<div class="row desc">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
								<div class="edit-remove">
									<form action="" method="post">
										<input type="submit" value="Edit [IN DEVELOPMENT]" disabled>
										<input type="submit" value="Remove">
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal image -->
			<div class="dark-screen modal">
				<img class="modal-content modal-img">
			</div>
			{% include "show_me_more.html" %}
		</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/image.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/mytransport_list.js') }}"></script>
