/*
 *  styles for index.html
 */

* {
    margin: 0 auto;
}

body {
    font-family: Arial;
    color: #24292E;
}

header {
    line-height: 48px;
    min-height: 48px;
    min-width: 100%;
}

header .content {
    color: lightgray;
    background-color: #24292E;
    font-family: monospace;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

header ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
}

header a {
    color: inherit;
    display: inline-block;
    fill: inherit;
    margin: 0;
    padding: 0 12px;
    text-decoration: none;
}
header a:hover {
    color: white;
}

header .logo {
    line-height: 16px;
    vertical-align: middle;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.title .name {
    font-family: Impact;
    font-size: 72px;
    padding:  0 0 16px;
}

.title .name .transport {
    color: darkcyan;
}

.title .tagline {
    font-family: monospace;
    font-size: 20px;
}

.search {
    width: 700px;
    margin-top: 20px;
    /* margin-bottom: 50px; */
}

.search input[type="search"] {
    width: 700px;
    height: 50px;
    border-radius: 2px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    font-size: 20px;
    padding: 0 10px;
}

.search input[type="submit"] {
    visibility: hidden;
}

.picture {
    width: 600px;
}

.picture img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    /* filter: drop-shadow(8px 8px 10px gray); */
}

.random-content {
    text-align: center;
    width: 800px;
}

footer {
    position: absolute;
    bottom: 0;
    line-height: 30px;
    min-height: 30px;
    min-width: 100%;
    opacity: 0.7;
}

footer .content {
    font-family: monospace;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

footer ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
}

footer a {
    color:  inherit;
}
footer a:focus {
    color: darkcyan;
    fill: darkcyan;
}
footer a:hover {
    opacity: 0.7;
}


/*
 *  styles for signup.html and signin.html
 */


.signin_form,
.signup_form {
    width: 350px;
}

.user_creds input {
    width: 350px;
    height: 35px;
    border-radius: 2px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    margin-bottom: 5px;
    padding: 0 10px;
}

.birthday {
    width: 376px;
    display: flex;
    margin: 20px auto;
}

.birthday p {
    font-weight: bold;
    font-size: 16px;
}

.birthday select {
    height: 35px;
    border-radius: 2px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    margin-right: 5px;
    padding: 0 10px;
}

.birthday select[id="month"] {
    width: 150px;
}

.birthday select[id="day"] {
    width: 70px;
}

.birthday select[id="year"] {
    width: 130px;
}

.checkboxes {
    margin-left: 18px;
    margin-bottom: 10px;
    font-size: 14px;
}

.checkboxes input {
    margin-left: -18px;
}

.signin_btn input[type="submit"] {
    width: 370px;
    height: 60px;
    border-radius: 5px;
    border-style: none;
    font-size: 18px;
    background-color: darkcyan;
    opacity: 0.7;
    color: white;
}
.signin_btn input[type="submit"]:hover {
    opacity: 0.5;
}
.signin_btn input[type="submit"]:focus {
    opacity: 1;
}

/* signin.html */

